# Runtime Settings
PROJECT_PATH=.
LOCAL_LISTEN_ADDR=127.0.0.1
NEW_UID=1000
NEW_GID=1000

# MySQL/MariaDB Settings
MYSQL_VERSION=mysql:8.4
HOST_PORT_MYSQL=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=testdb
MYSQL_USER=testy
MYSQL_PASSWORD=tiger

# PostgreSQL Settings
PGSQL_VERSION=postgres:18
HOST_PORT_PGSQL=5432
PGSQL_ROOT_USER=postgres
PGSQL_ROOT_PASSWORD=tiger
# In order to not use a password for PostgreSQL, keep this value at 'trust'
PGSQL_HOST_AUTH_METHOD=md5

# MSSQL Settings
MSSQL_VERSION=mcr.microsoft.com/mssql/server:2022-latest
HOST_PORT_MSSQL=1433
MSSQL_ROOT_PASSWORD=tiger

# MongoDB Settings
MONGODB_VERSION=mongo:8.0
HOST_PORT_MONGODB=27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=tiger
